@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<div class="container my-5">
    <div class="row align-items-center text-center text-lg-start">
        <div class="col-lg-6 mb-4">
            <h1 class="hero-title">Be The Fastest In<br />Delivery Your <span class="highlight">Food</span></h1>
            <p class="hero-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet</p>
            <a asp-controller="Menu" asp-action="Index" class="btn order-btn mt-3 px-4 py-2">Order now</a>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center">

            <div class="image-stack">
                <img src="~/uploads/images/side-picture.jpg" alt="Food 1" class="img-fluid" />
                <img src="~/uploads/images/picture2.jpg" alt="Food 2" class="img-fluid" />
            </div>

        </div>

    </div>
</div>