@{
    // Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

@model OrderingSystem.ViewModels.LoginViewModel


<div class="login-container-body">
    <div class="login-container">
        <div>
            <h3 class="mb-3">Welcome Back</h3>

        </div>

        @if (ViewData["error"] != null)
        {
            <div class="alert alert-success">@ViewData["error"]</div>
        }

        <form asp-action="login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="Username" id="username" placeholder="Username"/>
                <label asp-for="Username">Username</label>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-floating position-relative">
                <input asp-for="Password" class="form-control pe-5" placeholder="Password" type="password" id="passwordField">
                <label asp-for="Password">Password</label>
                <span asp-validation-for="Password" class="text-danger small"></span>
                <span class="position-absolute top-50 end-0 translate-middle-y me-3" style="cursor:pointer;" onclick="togglePassword('passwordField', 'toggleIcon1')">
                    <i class="bi-eye-slash-fill" id="toggleIcon1"></i>
                </span>
            </div>

            <div class="mb-3">
                <p>Don't have an account? <a asp-action="register">Signup</a> </p>
            </div>

            <div>
                <input type="submit" class="btn btn-success w-100" value="Login" />
            </div>
        </form>
    </div>
</div>


@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}