body{
    background-color: purple;
}

.login-container-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding-top: 0;
    
}

.login-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 50rem;
    margin-right: auto;
    margin-left: auto;
    padding: 2rem;
    border-radius: .75rem;
    background-color: #fff;
}

.register-container {
    border: 1px solid #e91414;
    background-color: white;
    padding: 25px 30px;
    border-radius: 4px;
}

.btn-success{
    background-color: purple;
}
    .btn-success:hover {
        background-color: #ba09ba;
    }

