
button{
    border: none;
    background-color: transparent;
}
#ViewDetails {
    border: none;
    padding: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 300px;
}
.OrderDetails-container{
    border: solid 1px #cbcbcb;
    border-radius: 4px;
    padding: 4px;
}
.row-container{
    display:flex;
    justify-content: center;
}
p{
    margin: 0px;
   
}
.row-item{
   padding: 10px;
}